DISCORD_TOKEN=put_your_bot_token_here
PREFIX=/
GUILD_ID=put_your_server_id_here_for_faster_slash_command_updates
OVERLAYS_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
TOPAZ_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
MODERATOR_APPLICATION_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
PRESETS_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
RULES_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
AUDIOS_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
ANNOUNCEMENT_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
MRBIT_USER_ID=put_mrbit_discord_user_id_here
COMP_MANAGER_ROLE_IDS=comma,separated,role_ids
MODERATOR_ROLE_ID=put_moderator_role_id_here
VIEWER_ROLE_ID=put_viewer_role_id_here
