DISCORD_TOKEN=put_your_bot_token_here
PREFIX=!
OVERLAYS_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
TOPAZ_CHANNEL_URL=https://discord.com/channels/server_id/channel_id
MRBIT_USER_ID=put_mrbit_discord_user_id_here
